<template>
    <ion-page>
        <ion-toolbar>
            <ion-title>
                <ion-icon :icon="arrowBack" color="dark" v-on:click="goBack"></ion-icon>
            </ion-title>
        </ion-toolbar>
        <IonGrid id="img_box">
            <IonRow>
                <IonCol size="12" id="name">
                    <IonText>{{ filterStore.pokemon.name }} #{{ filterStore.pokemon.id }}</IonText>
                </IonCol>
            </IonRow>
            <IonRow>
                <IonCol size="12" id="img">
                    <img style="height: 100%;" :src="filterStore.pokemon.sprites.front_default" />
                </IonCol>
            </IonRow>

        </IonGrid>
        <div id="information">
            <ion-segment :value="selectedSegment" @ion-change="changeSegment">
                <ion-segment-button value="about">
                    <ion-label>About</ion-label>
                </ion-segment-button>
                <ion-segment-button value="moves">
                    <ion-label>Moves</ion-label>
                </ion-segment-button>
            </ion-segment>

            <AboutInfo v-if="selectedSegment == 'about'" />
            <MovesInfo v-if="selectedSegment == 'moves'" />
        </div>
    </ion-page>
</template>
  
<script setup lang="ts">
import { IonSegment, IonSegmentButton, IonLabel, IonToolbar, IonTitle, IonPage, IonText, IonGrid, IonRow, IonCol } from '@ionic/vue';
import AboutInfo from "@/components/AboutInfo.vue"
import MovesInfo from "@/components/MovesInfo.vue"
import { arrowBack } from 'ionicons/icons';
import { useRouter } from 'vue-router';
import { ref } from 'vue'
import { useFilterStore } from '@/stores/filterStore'

const router = useRouter();
const filterStore = useFilterStore();
const selectedSegment = ref("about");

const goBack = () => {
    router.back()
}

const changeSegment = (e: CustomEvent) => {
    selectedSegment.value = e.detail.value;
}

</script>
  
<style scoped>
#container {
    background-color: #D7D7D7;
}

#name {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize !important;
}

#img {
    text-align: center;
}

#img_box {
    width: 100%;
    background-color: #ECECF2;
}

#information {
    height: 100%;
}
</style> 
  