<template>
  <ion-page>
    <ion-content id="container" :fullscreen="true">
      <div id="header">
        <header-home />
      </div>
      <div id="pokemonList" v-if="!loading">
        <div id="cards" v-for="(pok, key) in results" :key="key">
          <card-info v-bind:pokemon="pok" />
        </div>
      </div>
      <IonLoading :is-open="loading" message="Fetching data..." />
    </ion-content>
    <PaginationFooter />
  </ion-page>
</template>

<script setup lang="ts">
import HeaderHome from '@/components/HeaderHome.vue'
import CardInfo from '@/components/CardInfo.vue'
import PaginationFooter from '@/components/PaginationFooter.vue';
import { IonContent, IonPage, IonLoading } from '@ionic/vue';
import { useFilterStore } from '@/stores/filterStore'
import { storeToRefs } from 'pinia'
import { onMounted } from 'vue'

const filterStore = useFilterStore();
const { results, loading } = storeToRefs(filterStore)

onMounted(() => {
  filterStore.fetchPage(1)
})

</script>

<style scoped>
#container {
  background-color: #D7D7D7;
}


#pokemonList {
  overflow: scroll;
  height: 100%;
  padding: 16px;
}

#cards {
  padding-top: 8px;
}
</style> 
