<template>
    <IonGrid id="box" v-if="filterStore.pokemon">
        <IonRow>
            <IonCol size="4">
                <IonText color="medium">Species:</IonText>
            </IonCol>
            <IonCol size="8">
                <IonText color="dark">{{ filterStore.pokemon.species.name }}</IonText>
            </IonCol>
        </IonRow>
        <IonRow>
            <IonCol size="4">
                <IonText color="medium">Height:</IonText>
            </IonCol>
            <IonCol size="8">
                <IonText color="dark">{{ filterStore.pokemon.height }}</IonText>
            </IonCol>
        </IonRow>
        <IonRow>
            <IonCol size="4">
                <IonText color="medium">Weight:</IonText>
            </IonCol>
            <IonCol size="8">
                <IonText color="dark">{{ filterStore.pokemon.weight }}</IonText>
            </IonCol>
        </IonRow>
        <IonRow>
            <IonCol size="4">
                <IonText color="medium">Abilities:</IonText>
            </IonCol>
            <IonCol size="8">
                <IonText v-for="(ab, key) in filterStore.pokemon.abilities" color="dark" :key="key">
                    {{ ab.ability.name }}<span v-if="key < filterStore.pokemon.abilities.length - 1">, </span> </IonText>
            </IonCol>
        </IonRow>
        <IonRow>
            <IonCol size="4">
                <IonText color="medium">Experience:</IonText>
            </IonCol>
            <IonCol size="8">
                <IonText color="dark">{{ filterStore.pokemon.base_experience }}</IonText>
            </IonCol>
        </IonRow>
        <IonRow>
            <IonCol size="4">
                <IonText color="medium">Type:</IonText>
            </IonCol>
            <IonCol size="8">
                <TypeChips v-bind:types="filterStore.pokemon.types" />
            </IonCol>
        </IonRow>
        <IonRow>
            <IonCol size="12">
                <HorizontalBarChart v-bind:data="filterStore.pokemon.stats"/>
            </IonCol>
        </IonRow>
    </IonGrid>
</template>
  
<script setup lang="ts">
import { IonGrid, IonRow, IonCol, IonText } from '@ionic/vue';
import { useFilterStore } from '@/stores/filterStore'
import TypeChips from '@/components/TypesChips.vue'
import HorizontalBarChart from '@/components/HorizontalBarChart.vue'

const filterStore = useFilterStore();

</script>
  
<style scoped>
#box {
    padding: 16px;
    font-size: 14px;
    text-transform: capitalize !important;
    overflow: scroll !important;
}
</style> 
  