<template>
    <ion-card id="container" v-if="pokemon.id" v-on:click="viewDetails">
        <div id="img_box">
            <img id="img" :src="pokemon.sprites.front_default" />
        </div>
        <div id="information">
            <ion-grid>
                <ion-row>
                    <ion-col size="12">
                        <ion-text color="dark" id="name">{{ pokemon.name }}</ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-text color="medium" id="id"># {{ pokemon.id }}</ion-text>
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top: 8px;">
                    <ion-col size="4">
                        <ion-text color="medium" id="details">Moves</ion-text>
                        <ion-text color="dark" id="details" style="margin-left: 8px">{{ pokemon.moves.length }}</ion-text>
                    </ion-col>
                    <ion-col size="8">
                        <ion-text color="medium" id="details">Experience</ion-text>
                        <ion-text color="dark" id="details" style="margin-left: 8px">
                            {{ pokemon.base_experience }}
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" class="ion-no-padding">
                        <TypeChips v-bind:types="pokemon.types" />
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-card>
</template>
<script setup lang="ts">
import { IonCard, IonText, IonGrid, IonRow, IonCol } from '@ionic/vue';
import { ref, onMounted } from 'vue';
import TypeChips from '@/components/TypesChips.vue'
import axios from 'axios'
import { useFilterStore } from '@/stores/filterStore'
import { useRouter } from 'vue-router';
import { storeToRefs } from 'pinia';

const props = defineProps({
    pokemon: Object
})

const filterStore = useFilterStore();
const pokemon = ref({})
const { pokemon: storePokemon } = storeToRefs(filterStore)
const router = useRouter();

onMounted(() => {
    getPokemon()
})

const getPokemon = () => {
    axios
        .get(props.pokemon?.url)
        .then((response) => {
            pokemon.value = response.data
        }).catch(() => {
            alert("There was an error fetching the API")
        })
};

const viewDetails = () => {
    storePokemon.value = pokemon.value
    router.push('/details')
}

</script>
   
<style scoped>
#container {
    border-radius: 16px;
}

#img_box {
    height: 60%;
    background-color: #ECECF2;
    display: flex;
    justify-content: center;
}

#img{
    height: 40vw;
}

#information {
    text-transform: capitalize !important;
    background-color: white;
    height: 55%;
    padding: 16px;
}

#name {
    font-size: 24px;
    font-weight: 500;
}

#id {
    font-size: 16px;
    font-family: 'Roboto', sans-serif !important;
}

#details {
    font-size: 16px;
    font-family: 'Roboto', sans-serif !important;
}
</style>
  