<template>
    <ion-toolbar color="transparent">
        <ion-title v-on:click="cancel">X</ion-title>
    </ion-toolbar>
    <IonGrid id="container">
        <IonRow>
            <IonCol>
                <IonLabel>Experience Range</IonLabel>
                <IonRange :dual-knobs="true" :pin="true" :pin-formatter="pinFormatter"></IonRange>
            </IonCol>
        </IonRow>
        <IonRow>
            <IonCol>
                <IonLabel>Moves Range</IonLabel>
                <IonRange :dual-knobs="true" :pin="true" :pin-formatter="pinFormatter"></IonRange>
            </IonCol>
        </IonRow>
    </IonGrid>
</template>
  
<script setup lang="ts">
import {
    IonTitle,
    IonToolbar,
    IonLabel,
    IonGrid,
    IonRow,
    IonCol,
    IonRange,
    modalController,
} from '@ionic/vue';

const pinFormatter = (value: number) => `${value}`

const cancel = () => {
    modalController.dismiss(null, 'cancel');
}
</script>

<style scoped>
#container {
    padding: 20px;
    width: 100%;
}

.textInputFilter {
    background-color: var(--ion-color-light);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
</style>