<template>
    <ion-grid id="container">
        <ion-row id="box_titulo">
            <ion-col size="12">
                <ion-text id="titulo" :color="'light'">What pokemon are you <br /> looking for?</ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="10">
                <ion-item id="box_busqueda">
                    <ion-input placeholder="Search pokemon" :value="nameFilter" @keyup.enter="filterStore.searchbyName"
                        @IonChange="handleSearchChange"></ion-input>
                    <ion-icon slot="end" :icon="searchOutline" :color="'light'"></ion-icon>
                </ion-item>
            </ion-col>
            <ion-col size="2" id="icon_filtro" v-on:click="openModal">
                <img :src="require('@/assets/img/filterIcon.png')" />
            </ion-col>
        </ion-row>
    </ion-grid>
</template>
  
<script setup lang="ts">
import { IonGrid, IonRow, IonCol, IonText, IonItem, modalController, IonIcon, IonInput } from '@ionic/vue';
import { searchOutline } from 'ionicons/icons';
import { useFilterStore } from '@/stores/filterStore'
import FilterModal from '@/components/FilterModal.vue'
import { storeToRefs } from 'pinia'

const filterStore = useFilterStore();
const { nameFilter } = storeToRefs(filterStore)

const handleSearchChange = (e: any) => {
    nameFilter.value = e.target.value
}


const openModal = async () => {
    const modal = await modalController.create({
        component: FilterModal,
    });
    modal.present();
}
</script>
  
<style scoped>
#container {
    width: 100%;
    padding-left: 16px;
    padding-bottom: 16px;
    background-color: var(--ion-color-primary);
    background-image: linear-gradient(rgba(7, 42, 200, 0.9), rgba(7, 42, 200, 0.9)), url('@/assets/img/bola_header.png');
    background-repeat: no-repeat;
    background-position: right;
}

#box_titulo {
    margin-top: 50px;
}

#titulo {
    font-size: 7vw;
    font-weight: 500;
}

#icon_filtro {
    display: flex;
    align-items: center;
    justify-content: center;
}

#box_busqueda {
    align-items: center;
}

#input_busqueda {
    font-family: 'Roboto', sans-serif !important;
}

ion-item::part(native) {
    background: #ffffff00;
    color: #fff;
    border-bottom-color: #fff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
</style>
  