<template>
    <Bar id="chart" :options="chartOptions" :data="chartData" />
</template>

<script>
import { Bar } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale } from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

export default {
    name: 'HorizontalBarChart',
    props: { data: Object },
    components: { Bar },
    data() {
        return {
            chartData: {
                labels: this.data.map((el) => el.stat.name),
                datasets: [{
                    data: this.data.map((el) => el.base_stat), backgroundColor: '#072AC8', borderColor: '#072AC8',
                }]
            },
            chartOptions: {
                maintainAspectRatio: false,
                indexAxis: 'y',
                elements: {
                    bar: {
                        borderWidth: 2,
                    }
                },
                plugins: {
                    legend: {
                        display: false,
                    },
                },
            }
        }
    },
    mounted() {
        console.log(this.data)
    }
}
</script>

<style scoped>
#chart {
    height: 250px !important;
}
</style>