<template>
    <div id="container">
        {{ props.move?.move.name }}
    </div>
</template>

<script setup lang="ts">

const props = defineProps({
    move: Object
})

</script>
   
<style scoped>
#container {
    border-radius: 4px;
    height: 64px;
    width: 99px;
    background-color: #6E44FF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 12px;
}
</style>
  