<template>
    <IonGrid id="box_moves">
        <IonRow>
            <IonCol id="box" size="4" v-for="(move, key) in filterStore.pokemon?.moves" v-bind:key="key">
                <MoveBlock v-bind:move="move" />
            </IonCol>
        </IonRow>
    </IonGrid>
</template>
  
<script setup lang="ts">
import { IonGrid, IonRow, IonCol } from '@ionic/vue';
import { useFilterStore } from '@/stores/filterStore'
import MoveBlock from '@/components/MoveBlock.vue'

const filterStore = useFilterStore();

</script>
  
<style scoped>
#box_moves {
    overflow: scroll;
    height: 100%;
    padding-bottom: 300px;
}

#box {
    display: flex;
    justify-content: center;
}
</style> 
  