<template>
    <ion-footer>
        <ion-toolbar id="container">
            <IonButton fill="clear" :disabled="filterStore.previous == null || loading"
                v-on:click="filterStore.fetchPage(filterStore.actualPage - 1)">{{ "<" }}</IonButton>
                    <IonButton :disabled="loading" fill="clear" v-if="filterStore.actualPage - 2 > 0"
                        v-on:click="filterStore.fetchPage(filterStore.actualPage - 2)">{{ filterStore.actualPage - 2 }}
                    </IonButton>
                    <IonButton :disabled="loading" fill="clear" v-if="filterStore.actualPage - 1 > 0"
                        v-on:click="filterStore.fetchPage(filterStore.actualPage - 1)">{{ filterStore.actualPage - 1 }}
                    </IonButton>
                    <IonButton :disabled="loading">{{ filterStore.actualPage }}</IonButton>
                    <IonButton :disabled="loading" fill="clear"
                        v-on:click="filterStore.fetchPage(filterStore.actualPage + 1)">{{
                            filterStore.actualPage + 1 }}</IonButton>
                    <IonButton :disabled="loading" fill="clear"
                        v-on:click="filterStore.fetchPage(filterStore.actualPage + 2)">{{
                            filterStore.actualPage + 2 }}</IonButton>
                    <IonButton :disabled="filterStore.next == null || loading" fill="clear"
                        v-on:click="filterStore.fetchPage(filterStore.actualPage + 1)">{{ ">" }}
                    </IonButton>
        </ion-toolbar>
    </ion-footer>
</template>
  
<script setup lang="ts">
import { IonFooter, IonButton, IonToolbar } from '@ionic/vue';
import { useFilterStore } from '@/stores/filterStore'
import { storeToRefs } from 'pinia';
const filterStore = useFilterStore();
const { loading } = storeToRefs(filterStore);


</script>
  
<style scoped>
#container {
    text-align: center;
}
</style> 
  