<template>
    <div id="container" v-if="stringTypes.length > 0">
        <IonChip v-if="isType('water')"><img :src="require('@/assets/img/water.png')" />&nbsp;Water</IonChip>
        <IonChip v-if="isType('poison')"><img :src="require('@/assets/img/poison.png')" />&nbsp;Poison</IonChip>
        <IonChip v-if="isType('bug')"><img :src="require('@/assets/img/bug.png')" />&nbsp;Bug</IonChip>
        <IonChip v-if="isType('electric')"><img :src="require('@/assets/img/electric.png')" />&nbsp;Electric</IonChip>
        <IonChip v-if="isType('fire')"><img :src="require('@/assets/img/fire.png')" />&nbsp;Fire</IonChip>
        <IonChip v-if="isType('flying')"><img :src="require('@/assets/img/flying.png')" />&nbsp;Flying</IonChip>
        <IonChip v-if="isType('ghost')"><img :src="require('@/assets/img/ghost.png')" />&nbsp;Ghost</IonChip>
        <IonChip v-if="isType('grass')"><img :src="require('@/assets/img/grass.png')" />&nbsp;Grass</IonChip>
        <IonChip v-if="isType('ground')"><img :src="require('@/assets/img/ground.png')" />&nbsp;Ground</IonChip>
        <IonChip v-if="isType('ice')"><img :src="require('@/assets/img/ice.png')" />&nbsp;Ice</IonChip>
        <IonChip v-if="isType('normal')"><img :src="require('@/assets/img/normal.png')" />&nbsp;Normal</IonChip>
        <IonChip v-if="isType('psychic')"><img :src="require('@/assets/img/psychic.png')" />&nbsp;Psychic</IonChip>
        <IonChip v-if="isType('rock')"><img :src="require('@/assets/img/rock.png')" />&nbsp;Rock</IonChip>
        <IonChip v-if="isType('steel')"><img :src="require('@/assets/img/steel.png')" />&nbsp;Steel</IonChip>
        <IonChip v-if="isType('fighting')"><img :src="require('@/assets/img/fighting.png')" />&nbsp;Fighting</IonChip>
    </div>
</template>

<script setup lang="ts">
import { IonChip } from '@ionic/vue';
import { ref, onMounted } from 'vue';
import type { Ref } from 'vue'

const props = defineProps({
    types: Array
})

const stringTypes: Ref<any> = ref([]);

onMounted(() => {
    props.types?.map((el: any) => stringTypes.value.push(el.type.name))
})

const isType = (type: string) => {
    return stringTypes.value.includes(type)
}

</script>
   
<style scoped>
#container ion-chip{
    font-size: 12px !important;
}</style>
  